@model ProyectoCat.Models.Contactos


@{
    ViewData["Title"] = "Edicion";
}
@if (Session.Administrador)
{
    Layout = "Admin";

}
@if (Session.Activo)
{
    <link href="~/css/estilos.css" rel="stylesheet" />

    <br />
    <div class="row">
        <div id="registro" class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <br /><h4 style="color:antiquewhite"><strong>Edición</strong></h4>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="IdCliente" style="color:antiquewhite" class="control-label">Cliente</label>
                    <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" style="color:antiquewhite" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellidos" style="color:antiquewhite" class="control-label"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CorreoElectrónico" style="color:antiquewhite" class="control-label"></label>
                    <input asp-for="CorreoElectrónico" class="form-control" />
                    <span asp-validation-for="CorreoElectrónico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Teléfono" style="color:antiquewhite" class="control-label"></label>
                    <input asp-for="Teléfono" class="form-control" />
                    <span asp-validation-for="Teléfono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Puesto" style="color:antiquewhite" class="control-label"></label>
                    <input asp-for="Puesto" class="form-control" />
                    <span asp-validation-for="Puesto" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <a class="btn btn-default" asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span></a>
                    <input type="submit" value="Guardar Cambios" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
}
@if (Session.Activo == false)
{

    Layout = "Login";

    <img src="https://www.seminuevos.com/assets/brands/vehiclesBrands/png/caterpillar.png" />
    <h4>Lo sentimos, no se ha registrado!</h4>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
